.botao {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .botao:hover {
    background-color: #050505;
  }